.costumButton {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.costumButton:hover {
    color: rgb(199, 197, 197);
}