.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.home-container h1 {
    color: white;
    opacity: 0.9;
    font-size: 3em;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin-top: 20px;
}

.user-info {
    width: 40%;
    text-align: left;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.user-info h4 {
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
}


.horizontal-line {
    height: 4px;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.5));
    position: relative;
    flex-grow: 1;
    margin: 0 20px;
    animation: grow-line 5s ease-out forwards;
}

.common-text {
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
}

@keyframes grow-line {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

