* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 56px); /* 56px este înălțimea tipică pentru o bară de navigare */
    margin-top: 70px; /* Asigură că formularul apare sub nav */
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%; /* Poți seta o lățime completă pe ecrane mici */
    margin-left: auto;
    margin-right: auto;
}

.login-container h1 {
    font-size: 36px;
    text-align: center;
}

.login-container .forgot-password {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.login-container .input-box {
    position: relative;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 10px;
    color: white;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.login-container .forgot-password a {
    color: #fff;
    text-decoration: none;
}

.login-container .forgot-password a:hover {
    text-decoration: underline;
}

.login-container .register-link {
    font-size: 14.5px;
    text-align: center;
   
}

.register-link p {
    color: #fdfdfd;
    text-decoration: none;
    font-weight: 600;
}

.login-container .register-link a:hover {
    text-decoration: underline;
}

.login-container button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.costum-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

.costum-button:hover {
    transform: translateY(-5px);
    color: rgb(199, 197, 197);
}
