.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.main-container .userInfo {
    display: flex;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border: 2px solid rgba(235, 231, 231, 0.2);
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
}

.main-container .problems {
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border: 2px solid rgba(235, 231, 231, 0.2);
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    margin-top: 30px;
}

.main-container .profile-picture {
    display: flex;
    border: 1px solid rgba(248, 241, 241, 0.979);
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.main-container h4 {
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  
  .icon-container i {
    font-size: 16px;
  }
  
  .vertical-line {
    position: absolute;
    top: 100%;     /* Se plasează linia sub iconiță */
    left: 50%;     /* Centru pe orizontală */
    width: 2px;    /* Lățimea liniei */
    height: 35px;  /* Înălțimea liniei */
    background-color: grey;
    transform: translateX(-50%);
  }