.nav {
    position: fixed; /* Bara de navigare este fixată în partea de sus */
    top: 0;
    left: 0;
    width: 100%; /* Să acopere întreaga lățime a paginii */
    z-index: 1000; /* Să fie deasupra tuturor celorlalte elemente */
    background: transparent;
   
  }

  .text {
    color: 'white'
  }

  .text:hover {
    transform: translateY(-5px); /* Mișcați textul în sus cu 5px când se face hover */
    color: rgb(199, 197, 197);
  }

  .profile-icon {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 22px
  }

  .profile-icon:hover {
    color: grey;
  }

  .profile-user-name {
    font-size: 16;
    color: white;
    margin-left: 5px;
  }