.test-loading-line {
    width: 20%;
    height: 5px;
    background-color: '#4caf50';
    animation: progress 2s linear infinite;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    50% {
        width: 70%;
    }

    100% {
        width: 0%;
    }
}